/* Styles meant for eyes and eyebrows */

/* Layout */

.vision {
  margin-top: 20px;
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Main Styling */

.eyebrow {
  border-top: 5px solid black;
  width: 80px;
  height: 10px;
}

.left-eyebrow {
  border-top-left-radius: 100%;
}

.right-eyebrow {
  border-top-right-radius: 100%;
}

.eye {
  width: 70px;
  height: 90px;
  background-color: rgba(245, 245, 245);
  border-top: 5px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.left-eye {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 80%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.right-eye {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 100%;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.pupil {
  width: 55px;
  height: 80px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.left-pupil {
  border-top-left-radius: 100%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 80%;
}

.right-pupil {
  border-top-left-radius: 80%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 100%;
}

.inner-pupil {
  background-color: white;
  width: 15px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.left-inner-pupil {
  left: 60%;
}

.right-inner-pupil {
  left: 40%;
}
.eyelash {
  width: 20px;
  height: 10px;
  border-bottom-left-radius: 100%;
  border-bottom: 5px solid black;
  transform: rotate(25deg);
  position: absolute;
  top: -6px;
  left: -5px;
  z-index: 4;
}
