/* Styles meant for eyes and eyebrows */

/* Layout */

.vision {

  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.left,
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Main Styling */

.eyebrow {
  border-top: 5px solid black;
  width: 80px;
  height: 10px;
}

.left-eyebrow {
  border-top-left-radius: 100%;
}

.right-eyebrow {
  border-top-right-radius: 100%;
}

.eye {
  width: 80px;
  height: 90px;
  background-color: white;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  position: relative;
  overflow: hidden;
}

.pupil {
  width: 60px;
  height: 80px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 90%;
}

.inner-pupil {
  background-color: white;
  width: 20px;
  height: 4s0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.shut {
  background-color: salmon;
  width: 100px;
  height: 0px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: all;
  transition-duration: 200ms;
}