.keyboard {
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  height: 220px;
  width: 100%;
  max-width: 830px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 10px;
}

.r1,
.r2,
.r3,
.r4,
.r5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.r1 > *,
.r2 > *,
.r3 > *,
.r4 > *,
.r5 > * {
  border-radius: 7px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  height: 30px;
  width: 30px;
  flex: 1;
}

.small-key {
  flex: 0.75;
}

.medium-key {
  flex: 2;
}

.long-key {
  flex: 6;
}

.cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border: 3px solid rgba(100, 0, 0);
  border-radius: 100%;
}

.cursor-control {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cursor-control * {
  margin: 2px 0;
}
