/* Styles meant for mouth */

/* Layout */

.mouth {
  width: 20%;
  height: 20px;
  margin-bottom: 60px;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

/* Main Styling */
/* ******  EXPRESSIONS  ****** */
