/* Styles meant for mouth */

/* Layout */

.mouth {
  width: 20%;
  height: 20px;
  margin-bottom: 60px;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: 300ms;
}

.blush {
  width: 80px;
  height: 60px;
  position: absolute;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.blush-left {
  left: 20px;
  top: 50%;
  border-radius: 100%;
}

.blush-right {
  right: 20px;
  top: 50%;
  border-radius: 100%;
}

/* Main Styling */
/* ******  EXPRESSIONS  ****** */
.happy .mouth {
  width: 33%;
  height: 33px;
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
}
.shy .mouth{
  width: 23%;
  height: 33px;
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
}
.happy .blush {
  background-color: rgba(200, 20, 30, 0.3);
}
.shy .cheeks {
  background: radial-gradient(circle, rgba(224, 101, 181, 0.427));
}

.shy .blush {
  /* Add blush styles for the shy expression */
  width: 60px;
  height: 30px;
  border-radius: 30%;
  background: radial-gradient(circle, rgba(225, 102, 182, 0.427), transparent);
 /* Light pink color for the blush */
  position: absolute;
}

.shy .blush-left {
  top: 60%;
  left: 15%;
}

.shy .blush-right {
  top: 60%;
  left: 70%;
}
.cheeks,
.mouth,
.face.eyes-shut .left-eyebrow,
.face.eyes-shut .right-eyebrow,
.blush {
  transition: 0.4s all;
}

.sad .mouth{
  width: 23%;
  height: 33px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}